<div class="container">
  <div class="flex">
    <h2>Listagem de gerenciamento de tarefas</h2>
  </div>
  <table class="table ">
    <thead>
      <tr>
        <th>Código</th>
        <th>Nome</th>
        <th>Custo</th>
        <th>Data limite</th>
        <th></th>
      </tr>
    </thead>


      <tr *ngFor="let tarefa of ATarefas" [ngClass]="{'linhaComErro':tarefa.bComErro, 'linhaComDestaque':tarefa.custo >= 1000}">
        <td>{{tarefa.idtarefa}}</td>
        <td><div *ngIf="tarefa.bEditing == false || !tarefa.bEditing">{{tarefa.nome}}</div>
          <div *ngIf="tarefa.bEditing"><input type="text" [(ngModel)]="tarefa.nome"></div>
      </td>
      <td>
        <div *ngIf="tarefa.bEditing == false || !tarefa.bEditing">{{tarefa.custo | currency}}</div>
        <div *ngIf="tarefa.bEditing"><input type="number" [(ngModel)]="tarefa.custo"></div>
      </td>
      <td>
        <div *ngIf="tarefa.bEditing == false || !tarefa.bEditing">{{tarefa.datalimite | date:'dd/MM/YYYY'}}</div>
        <div *ngIf="tarefa.bEditing"><input type="date" [(ngModel)]="tarefa.datalimite"></div>
      </td>
      <td>
          <i class="iconUp" *ngIf="tarefa.sequencia > 1" (click)="up(tarefa)"></i>
          <i class="iconDown" *ngIf="tarefa.sequencia < this.ATarefas.length" (click)="down(tarefa)"></i>
          <i class="iconEdit" (click)="tarefa.bEditing = true" *ngIf="!tarefa.bEditing"></i>
          <i class="iconDelete" *ngIf="!tarefa.bEditing" (click)="this.tarefaSelecionada = tarefa" data-bs-toggle="modal" data-bs-target="#msgConfirmaExclusao"></i>
          <i *ngIf="tarefa.bEditing" class="iconSave" (click)="atualiza(tarefa)"></i>
          <i *ngIf="tarefa.bEditing" class="iconCancel" (click)="cancela(tarefa)"></i>
        </td>
      </tr>

  </table>
</div>

<div class="container">
  <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Nova tarefa</button>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nova tarefa</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="frmNovaTarefa">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-12">
                <label>Nome</label>
                <input  type="text" class="form-control" formControlName="nome"/>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-6">
                <label>Custo</label>
                <input type="number" class="form-control" min="0" step="0.01" formControlName="custo"/>
              </div>

              <div class="col-6">
                <label>Data limite</label>
                <input type="date" class="form-control" formControlName="datalimite"/>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button #fechaBtn type="button" class="btn btn-secondary" data-bs-dismiss="modal">Sair / Desistir</button>
        <button #salvaBtn id="salvaBtn" type="button" class="btn btn-success" (click)="salvaNovaTarefa()">Salvar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="msgConfirmaExclusao" tabindex="-1" role="dialog" aria-labelledby="msgConfirmaExclusao" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="msgConfirmaExclusaoLabel">Excluindo a tarefa</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h5>Tem certeza de que deseja excluir a tarefa: </h5>
          <h4>{{tarefaSelecionada?.idtarefa}} - {{tarefaSelecionada?.nome}}</h4>
      </div>
      <div class="modal-footer">
        <button #fechaExclusaoBtn type="button" class="btn btn-secondary" data-bs-dismiss="modal">Sair / Desistir</button>
        <button #salvaBtn id="excluiBtn" type="button" class="btn btn-danger" (click)="deletaTarefa(tarefaSelecionada)">Excluir</button>
      </div>
    </div>
  </div>
</div>
